body {
  font-family: 'IBM Plex Mono', sans-serif;
  background-color: #1e1e1e;
}
.dropdown{
  border-radius: 0 !important;
  margin: 2vw;
}

#chartContainer{
  justify-content: center!important;
  display: flex !important;
}

.canvasjs-chart-toolbar,.canvasjs-chart-credit{
  display:none;
}

.canvasjs-chart-canvas{
  border: 0.1vw solid rgb(207, 205, 205);
  color: #423d3d !important;
}

.canvasjs-chart-tooltip  {
   background-color: white!important;
   border: none;
  }

span{
  background-color: #ff0000!important;
}

span{
  background-color: #ff9a00!important;
}

span{
  background-color:  #ffffff!important;
}

span{
  background-color: #00fbff!important;
}

